@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?myhul0');
  src:  url('../fonts/icomoon.eot?myhul0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?myhul0') format('truetype'),
    url('../fonts/icomoon.woff?myhul0') format('woff'),
    url('../fonts/icomoon.svg?myhul0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e960";
}
.icon-cog:before {
  content: "\e994";
}
.icon-menu:before {
  content: "\e9bd";
  margin: 20px;
  cursor: pointer;
}
.icon-question:before {
  content: "\ea09";
}
.icon-share:before {
  content: "\ea7d";
}



body{
  margin: 0;
  font-family: 'lato',sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 20vw 80vw;
}

.contenido{
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: auto auto 1fr; */
}

.sub_contenido{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.side{
  width: 20vw;
  height: 100%;
  position: fixed;
  overflow:auto;
  background-color: #151b31;
  /* padding: 0 10px; */
}

.side_container{
  box-sizing: content-box;
  padding: 0px 15px;
}
.title_platzi{
  font-size: 2.3rem;
  font-weight:700;
  font-family: 'Montserrat', sans-serif;
  color: white;
    vertical-align: middle;
}
.title_platzi span{
  font-size: 2.3rem;
  background: linear-gradient(to left, #e66599, #ff243b);
  -webkit-background-clip:text;
  color: transparent;
}
 .side h2{
  color:white;
  font-size: 1.4em;
}

.side ol li{
  padding: 0 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.side ol li a{
  padding: 15px 0;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.side ol li:hover{
  background-color: rgba(255,255,255,0.1);
}

.playlist_amigos{
  color: white;
  margin: 30px 10px;
}
.playlist_amigos img{
  border-radius: 50%;
  width: 50px;
  border: 2px solid white;
  vertical-align: middle;
}

.playlist_amigos span{
  padding-left: 10px;
  font-size: 1.2rem;
}
.config{
  display: block;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 15px 0;
}
.config:hover{
  background: rgba(255,255,255,0.1);
}
.config span:before{
  vertical-align: middle;
  padding-right: 20px;
}

.link_footer{
  margin: 20px 0;
}
.link_footer a{
  margin: 10px 0;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.contenedor_video{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.video_{
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 height: 100%;
 width: 100%;
}
.video_footer
{
  margin:15px 30px;
}
.video p{
  font-size: 1.3rem;
  font-weight:bold;
  margin: 0;
}
.video span{
  font-size: 1rem;
  /* font-weight:bold;  */
  color: gray;
}
.link_videos{
  box-sizing: border-box;
  margin:15px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid lightgray
}
.botones_left a{
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.add_list{
  text-decoration: none;
  font-size: 1rem;
  font-weight:500;
  color: white;
  padding: 12px 20px;
  background: linear-gradient(to left, #e66599, #ff243b);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.add_list:hover
{
  background: transparent;
  color: #ff243b;
  border: 1px solid #ff243b;
}
.link_videos_button{
  text-align: center;
  text-decoration: none;
  color: gray;
}
.link_videos_button span{
  display: block;
}
.link_videos_button:hover span{
  font-weight: bold;
  color: black;
}

.link{
  text-decoration: none;
  font-size: 1rem;
  font-weight:500;
  color: white;
  padding: 6px 12px ;
  border-radius: 35px;
  cursor: pointer;
  margin: 0 2px;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}

.pink{
  background-color: pink;
}
.box_footer{
  padding: 30px;
}
.playlist_amigos_bigger{
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 15px;
  grid-column-gap: 10px;
}

.playlist_amigos_bigger img{
  grid-column: 1/2;
  grid-row: 1/3;
  border-radius: 50%;
  width: 80px;
  border: 2px solid black;
  box-sizing: border-box;
  align-self: center;
  justify-self:center;
}

.playlist_amigos_bigger span:nth-of-type(1)
{ grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-end;
  font-weight: bold;
}
.cont_img{
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.cont_img img{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid gray;
}
.box_footer a{
  font-size: 1.4em;
  text-decoration: none;
}
.nav-bar{
  background-color: #151b31;
  display:none;
}
.nav-bar h1{
  margin: 0;
  padding: 20px 5px;
}
#burguer_button_c{
  display: none;
}
@media screen and (max-width:1055px)
{
  #burguer_button_c{
    display: inline-block;
  }
  .show{
    display:inline-block;
  }
  .side{
    left: -40vw;
    width: 40vw;
    /* height: 100vh; */
    z-index: 2;
      transition: 0.5s;
  }
  .active{
    left: 0;
  }

  .container{
    grid-template-columns: 1fr;
  }

  .contenido{
    grid-column: 1 / 2;
    grid-template-columns: 1fr;
  }
  .sub_contenido{
    grid-template-columns: 1fr;
  }
  .link_videos{
    grid-template-columns: 1fr;
    height: 150px;
  }
  .botones_right{
    display: flex;
    justify-content: space-around;
  }
  .botones_right a{
    width: 100%;
    text-align: center;
  }

  .title_platzi{
    font-size: 1.5rem;
  }
  .title_platzi span{
    font-size: 1.5rem;
  }
   .side h2{
    font-size: 1.2rem;
  }

  .side ol li{
    font-size: 1rem;
  }

  .side ol li a{
    font-size: 0.8rem;
  }
  .link_videos{
    margin: 10px;
  }

  .link_videos a{
    font-size: 0.8rem;
  }
  /* .add_list{
    font-size: 0.7rem;
  } */

  .playlist_amigos span{
    font-size: 1rem;
  }
  .config{
    font-size: 1rem;
  }

  .link_footer a{
    font-size: 1rem;
  }
}

@media screen and (max-width:700px)
{
  .show{
    display:inline-block;
  }
  .side{
    left: -70vw;
    width: 70vw;
    /* height: 100vh; */
    z-index: 2;
      transition: 0.5s;
  }
  .active{
    left: 0;
  }
